body {
    background-color: black;
    text-align: center;
    font-family: Minecraft;
    font-size: x-large;
    color: darkgray;
}
a:link {
    color: skyblue;
}
a:visited {
    color: skyblue;
}
footer a:link {
    color: darkgray;
}
footer a:visited {
    color: darkgray;
}
hr {
    color: gray;
    width: 80%;
}
ul {
    text-align: left;
    display: inline-block;
}
@font-face {
    font-family: 'Minecraft';
    src: url('../assets/fonts/Minecraft.ttf') format('truetype');
}
table {
    display: inline-block;
}
select {
    background-color: darkgrey;
}
button {
    background-color: darkgray;
    color: black;
    margin-top: 30px;
    margin-inline: 30px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}
ul li img {
    vertical-align: middle;
    image-rendering: pixelated;
}
ul {
    list-style-type: none;
}